*{
    margin:0;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #0C0950;
}
#container{
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FBE4D6;
    flex-direction: column;
    gap: 4px;
    border-radius: 5px;
    font-size: medium;
    width: 50%;
    
    
    

}
h2{
    justify-content: center;
    text-align: center;
    padding: 4px;
    gap: 5px;
}
input{
    gap: 5px;
    display: flex;
    margin: 10px;
    padding: 10px;
    border-radius: 4px;
    width:100%;
    border: none;

}
#btn{
    margin:10px;
    padding: 5px;
    font-size: large;
    transition: background-color 0.2 ease;
    cursor: pointer;
    border: none;

    
}
btn:hover{
    background-color: #261FB3;
}
#data{


    font-size: larger;
    font-weight: 300;
   
    

}
#img{

    size: 50px;
    border-radius: 4px;
    border: none;
    gap: 5px;
    margin-top: 20px;
    width: 100%;

}